<!--@POSTPROC: ./postproc.sh-->
<module>
<User_List f="nodata">
  <User_List f="noscroll">
    <User_List t="list" f="nolabel user" l="Control"/>
  </User_List>
<!--   <Manual>
    <Manual t="webview" f="nolabel"/>
  </Manual> -->
</User_List>

<Control f="nodata">
	<Control f="noscroll">

		<New_Project t="button" l="Project"/>

 		<GPS_diagnostics t="gpsdiag"/>

	</Control>

	<search/>
	<!--"Select User" dropdown has been added using @POSTPROC-->


	<Autonumbering>
		<autonum/>
	</Autonumbering>

</Control>

<!--
#######		#######		   ########				 ##  #########	  #######	 ################
##    ##	##	  ##	 ##	   	   ##			 ##  ##			 ##		##			##
##     ##	##	   ##	##			##			 ##  ##			##		 ##			##
##    ##	##	  ##	##			##			 ##  ##			##					##
##   ##		##   ##		##			##			 ##  ##			##					##
######		######		##			##			 ##  ######		##					##
##			##  ##		##			##			 ##  ##			##					##
##			##   ##		##			##	##		 ##  ##			##		 ##			##
##			##    ##	 ##		   ##	##		##   ##			 ##		##			##
##   		##	  ##	   ########		  ######	 #########	  #######			##-->

<Project>
	<fmt>PR{{Project_ID}}</fmt>
	<General>
		<Project_ID f="id autonum nocertainty"/>
		<Project_Name t="input" f="nocertainty noannotation"/>
		<author f="nocertainty noannotation"/>
		<timestamp f="nocertainty noannotation"/>
		<gps f="notnull"/>
		<Team_Members f="persist nocertainty noannotation"/>
		<New_Shovel_Probe t="button" lc="Shovel_Probe"/>
		<List_of_Related_Shovel_Probes ec="Shovel_Probe"/>
	</General>
</Project>

<!--
  ########		##		##	  ##########	##		  ##	##########	##
 ##		 ##		##		##	 ##		   ##	##		  ##	##			##
##				##		##	##			##	##		  ##	##			##
##				##		##	##			##	##		  ##	##			##
 ##				##		##	##			##	##		  ##	##			##
  #######		##########	##			##	##		  ##	#######		##
        ##		##		##	##			##	##		  ##	##			##
         ##		##		##	##			##	##		  ##	##			##
         ##		##		##	##			##	 ##		 ##		##			##
##      ##		##		##	 ##		   ##	  ##	##		##			##
 ########		##		##	  ##########		####		##########	##########-->



<Shovel_Probe>
	<fmt>PR{{Project_ID}}-SH{{Shovel_Probe_ID}}</fmt>
	<General>
		<cols>
			<Shovel_Probe_ID f="id autonum nocertainty"/>
			<col>
				<Project_ID f="id nocertainty" i="Project/General/Project_ID"/>
			</col>
		</cols>
		<author f="nocertainty noannotation"/>
		<timestamp f="nocertainty noannotation"/>	
		<Team_Members i="Project/General/Team_Members" f="nocertainty"/>
		<TP_Number b="decimal"/>
		<PAD_Number b="decimal"/>
		<gps f="notnull"/>
		<Site-PAD_Name t="input"/>
		<Landform>
			<!--@SOURCE: vocabs/landform.xml-->
		</Landform>
	</General>
	<Photo>
		<Photo t="camera" f="nocertainty"/>
		<Photo_Comments f="nocertainty noannotation"/>
		<External_Photo_Filenames f="nocertainty"/>
	</Photo>
	<Spit>
		<New_Spit t="button" lc="Spit"/>
		<List_of_Related_Spits ec="Spit"/>
	</Spit>
</Shovel_Probe>

<!--
  ########		#########	##########	##########
 ##		 ##		##		##		##			##
##				##		 ##		##			##
##				##		 ##		##			##
 ##				##		##		##			##
  #######		#########		##			##
        ##		##				##			##
         ##		##				##			##
         ##		##				##			##
##      ##		##				##			##
 ########		##			##########		##-->



<Spit>
	<fmt>PR{{Project_ID}}-SH{{Shovel_Probe_ID}}-SP{{Spit_ID}}</fmt>
	<General>
		<cols>
			<Spit_ID f="id autonum nocertainty"/>
			<col>
				<Shovel_Probe_ID f="id nocertainty" i="Shovel_Probe/General/Shovel_Probe_ID"/>
				<Project_ID f="id nocertainty" i="Shovel_Probe/General/Project_ID"/>
			</col>
		</cols>
		<author f="nocertainty noannotation"/>
		<timestamp f="nocertainty"/>
	</General>
	<Photo>
		<Photo t="camera" f="nocertainty"/>
		<Photo_Comments f="nocertainty noannotation"/>
		<External_Photo_Filenames f="nocertainty"/>
	</Photo>
	<Layer>
		<New_Layer t="button" lc="Layer"/>
		<List_of_Related_Layers ec="Layer"/>
	</Layer>	
</Spit>

<!--
##			  #######	##	      ## ########	#########
##			 ##		##	 ##	     ##	 ##			##		##
##			##		 ##	  ##    ##	 ##			##		 ##
##			##		 ##	   ##  ##	 ##			##		 ##
##			##		 ##		####	 #####		##		##
##			###########	     ##		 ##			#########
##			##		 ##	     ##	     ##			##	  ##
##			##		 ##	     ##		 ##			##	   ##
##			##		 ##	     ##		 ##			##		##
##########	##		 ##	     ##		 ########	##		 ##
-->

<Layer>
	<fmt>PR{{Project_ID}}-SH{{Shovel_Probe_ID}}-SP{{Spit_ID}}-LA{{Layer_ID}}</fmt>
	<General>
		<cols>
			<Layer_ID f="id autonum nocertainty"/>
			<col>
				<Spit_ID f="id nocertainty" i="Spit/General/Spit_ID"/>
				<Shovel_Probe_ID f="id nocertainty" i="Spit/General/Shovel_Probe_ID"/>
				<Project_ID f="id nocertainty" i="Spit/General/Project_ID"/>
			</col>
		</cols>
		<author f="nocertainty"/>
		<timestamp f="nocertainty"/>
		<Soil_Profile/>
		<Total_Depth_mm b="decimal"/>
		<Cultural_Material_Type/>
		<Artefact_Number b="decimal"/>
		<Comments f="nocertainty noannotation"/>
	</General>
	<Photo>
		<Photo t="camera" f="nocertainty"/>
		<Photo_Comments f="nocertainty noannotation"/>
		<External_Photo_Filenames f="nocertainty"/>
	</Photo>
</Layer>


<logic><![CDATA[
<!--@SOURCE: logic/sync.bsh-->
<!--@SOURCE: logic/gis-shared.bsh-->
<!--@SOURCE: logic/custom-search.bsh-->
<!--@SOURCE: logic/recent-records.bsh-->
<!--@SOURCE: logic/cascade-delete.bsh-->
<!--@SOURCE: logic/find-in-map.bsh-->
<!--@SOURCE: logic/autonumbering-validation.bsh-->
<!--@SOURCE: logic/new-record-in-boundary.bsh-->
<!--@SOURCE: logic/leave-gps-verification.bsh-->
]]></logic>

</module>